@import "./animations";

//RESET
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

// COLORS
$backgroundColor: #000;
$gradientColor: linear-gradient(
  90deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(255, 255, 255, 1) 50%,
  rgba(0, 0, 0, 1) 100%
);

body {
  background: gray;
  display: flex;
  flex-direction: column;
}

nav {
  font-size: 2rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  background: $backgroundColor;
  color: white;
  justify-content: flex-start;
  & > span {
    align-self: center;
  }
}

input[type="image"] {
  transform: rotate(0);
  transition: 300ms ease-in-out;
  filter: invert(1);
  &:hover {
    transform: rotate(90deg);
  }
}

input {
  cursor: pointer;
  margin-right: 1em;
}

button,
input {
  padding: 1em;
  &:focus {
    outline: none;
  }
}

.menuList {
  @include menuToggle;
  button {
    border: none;
    background: none;
    border-left: 0.4rem solid black;
    text-align: justify;
  }
  li {
    list-style: none;
    width: fit-content;
  }
}

.active {
  transform: translateX(0%) rotateY(0deg);
}

@import "./footer";
